<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for( 'static' , filename="style.css" )}}> {% block head %} {% endblock %}
</head>

<body style="background-color:black">

    <title>
        Dev Bhandari
    </title>
    <div class="body ">
        <link href="https://fonts.googleapis.com/css?family=Noto Sans JP" rel="style">
        <hr class="hr">
        <div class="heroDiv">
            <img class="homePageHero" src="/static/images/header-image.png" alt="">
            <div class="heroText">
                <h1>
                    Hello, I'm Dev Bhandari
                </h1>
                <p>
                    Android Developer | CS Student
                </p>

            </div>

        </div>
        <div class="wrapper">
            <div class="container">
                <div class="container">
                    <h1 class="header-wrapper-1">
                        About Me
                    </h1>
                    <img src="/static/images/img1.png" class="image-wrapper" alt="">
                    <p>
                        <strong>Hello there</strong>, I am <strong>Dev Bhandari</strong> a <strong>Computer
                            Science</strong>
                        student. I am the one who enjoys coding while listening to
                        music, enthusiastic for technology, programming and i love learning new
                        skills.
                    </p>
                </div>
                <div class="container">
                    <h1 class="header-wrapper-2">
                        The Beginning
                    </h1>
                    <img src="/static/images/img2.png" class="image-wrapper" alt="">

                    <p>
                        I was in 11th standard when I was introduced to ATL lab. In the lab I started learning arduino
                        and
                        gained 2
                        years experience in it. I made a lot of projects from which one of them was selected for the
                        robotics
                        exhibition. I made a radar using an arduino, a servo motor and an ultrasonic sensor. This helped
                        gaining
                        interest in coding.
                    </p>
                </div>
                <h1 class="header-wrapper-2">
                    My Skills and Experience
                </h1>
                <div>
                    <img src="/static/images/cpp.png" class="img-cpp" alt="">

                </div>
                <div>
                    <img src="/static/images/c.png" class="img-c" alt="">

                </div>
                <div>
                    <img src="/static/images/python.png" class="img-python" alt="">

                </div>

                <ul>
                    <li>I have 2 years of experience in <strong>arduino</strong> and <strong>robotics</strong>.</li>
                    <li>I have recently made a project <strong>“School Management System”</strong> (a GUI python
                        program) that
                        manages the
                        database of school including student and teachers information. It was made using
                        <strong>python</strong>, <strong>tkinter</strong> and
                        <strong>mysql database</strong>.
                    </li>
                    <li>I have also recently completed a course <strong>“Bitcoin For Everybody”</strong> from
                        <a href="https://learn.saylor.org/" style="color: red;">saylor.org</a> which
                        helped me understanding the basics of <strong>blockchain</strong> and
                        <strong>cryptocurrency</strong>.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>